@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.image {
    height: 50px;
    width: 50px;
}

.banner-section-bg-container {
    background-image: url("https://img.freepik.com/premium-photo/mobile-cloud-computing-subject-science-technology-3d-rendering_772449-2887.jpg?size=626&ext=jpg&ga=GA1.1.1980058668.1688282638&semt=ais");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.banner-section-heading {
    font-size: 35px;
    color: white;
    font-family: Roboto;
}

.banner-section-paragraph {
    font-size: 25px;
    color: white;
    font-family: Roboto;
}

.custom-button {
    color: white;
    background-color: #5cacb5;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-online-button {
    background-color: #5cacb5;
    height: 45px;
    width: 120px;
    border-radius: 8px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card-image {
    width: 87px;
    height: 90px;
}

.wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.products-section {
    background-color: white;
}

.products-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.Progressive-section {
    background-color: #f9fbfe;
}

.Progressive-section-img {
    width: 270px;
    height: 220px;
}

.Progressive-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.Progressive-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}


.life-section {
    background-color: white;
}

.life-section-img {
    width: 270px;
}

.life-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.life-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.Opportunities-section {
    background-color: #ebf2f5;
}

.Opportunities-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.Opportunities-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.Opportunities-section-img {
    width: 270px;
    margin-bottom: 20px;
}



.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.follow-us-icon-container {
    background-color: #5cacb5;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.icon {
    color: white;
    font-size: 35px;
}

.copy-right {
    font-size: 12px;
    text-align: center;
}